.wrapper {
  border-radius: 3px;
  border: 2px solid #C1C1C1;
  box-shadow: 0 1px 4px #C1C1C1;
  width: 675px;
  margin: 50px auto;
}

.wrapper .header {
  width: 100%;
  height: 100px;
  background-color: #3E8ACC;
  color: #fff;
  font-size: 30px;
  font-family: sans-serif
}

.wrapper .header .title {
  display: inline-block;
  margin-top: 30px;
  padding-left: 20px
}

.wrapper .fields {
  padding: 25px;
}

.wrapper .fields input,
.wrapper .fields textarea,
.wrapper .fields select
 {
  padding-left: 15px;
  width: 500px;
  height: 35px;
  border: 2px solid #CCD1D4;
  border-radius: 3px;
  margin: 10px;
  font-size: 15px;
}

.wrapper .fields * {
}

.wrapper .fields textarea {
  height: 125px;
  padding: 15px;
  display: block;
}

.wrapper .footer {
  background-color: #C8DEF1;
  padding: 15px;
}

.wrapper .footer button {
  background-color: #3E8ACC;
  width: 120px;
  height: 50px;
  color: #fff;
  border: 1px solid #267BC5;
  border-radius: 3px;
  font-size: 15px;
}
